### Normalization  (Min - Max Normalization)

#### This process will scale the value of the feature/variable between 0 to 1

Xnorm = X - Xmean / Xmin - Xmax

#### Below are sample data from which we will user "Box Office" Budget" cloumn to normalize it.

In [2]:
import pandas as pd
df = pd.read_csv('jamesbond.csv')
df.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [7]:
df = df[['Box Office','Budget']]
df.head(10)

   Box Office  Budget
0       448.8     7.0
1       543.8    12.6
2       820.4    18.6
3       848.1    41.9
4       315.0    85.0
5       514.2    59.9
6       291.5    37.3
7       442.5    34.7
8       460.3    30.8
9       334.0    27.7

In [9]:
from sklearn.preprocessing import MinMaxScaler
scalling = MinMaxScaler()

In [10]:
scalling.fit_transform(df)

array([[0.28573491, 0.        ],
       [0.42289922, 0.02809834],
       [0.82226393, 0.05820371],
       [0.86225816, 0.1751129 ],
       [0.09254981, 0.39136979],
       [0.38016171, 0.265429  ],
       [0.05861969, 0.15203211],
       [0.27663875, 0.13898645],
       [0.30233901, 0.11941796],
       [0.11998267, 0.10386352],
       [0.4073058 , 0.19116909],
       [0.41019347, 0.42398394],
       [0.28660121, 0.26693427],
       [0.18639908, 0.39638736],
       [0.1774473 , 0.23532363],
       [0.03508519, 0.23833417],
       [0.09038406, 0.3100853 ],
       [0.        , 0.2493728 ],
       [0.3863702 , 0.35072755],
       [0.30652613, 0.63672855],
       [0.27230725, 0.75915705],
       [0.30970257, 0.73858505],
       [0.47733179, 0.69392875],
       [0.38016171, 0.87506272],
       [1.        , 0.81886603],
       [0.68697661, 1.        ]])

### Standardization

Here all the feature will be transformed in such a way that it will have a properties of a standard normal distributon

with mean(μ) = 0 and standard deviation(σ) = 1

            
            Z = X - μ / σ

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
std_scalling = StandardScaler()

In [13]:
std_scalling.fit_transform(df)

array([[-0.24702544, -1.31667792],
       [ 0.30113091, -1.21665793],
       [ 1.89713141, -1.10949366],
       [ 2.05696226, -0.69333908],
       [-1.01906039,  0.07645758],
       [ 0.13033693, -0.37184628],
       [-1.15465696, -0.77549836],
       [-0.28337686, -0.82193621],
       [-0.18066967, -0.89159298],
       [-0.90942912, -0.94696119],
       [ 0.23881419, -0.63618481],
       [ 0.25035432,  0.19255221],
       [-0.2435634 , -0.36648806],
       [-0.64400604,  0.0943183 ],
       [-0.67978046, -0.47901054],
       [-1.24870905, -0.46829412],
       [-1.02771549, -0.21288594],
       [-1.38892167, -0.42900055],
       [ 0.15514822, -0.06821418],
       [-0.16393648,  0.94984638],
       [-0.30068706,  1.38564774],
       [-0.15124233,  1.31241882],
       [ 0.51866243,  1.15345849],
       [ 0.13033693,  1.79823018],
       [ 2.60742664,  1.59819021],
       [ 1.35647614,  2.24296189]])

### When to use and when not to use?

When we work with concept like Eculiden distance, deep learning or gradient descent
means that algorithm like Linear Regression, Logistic Regression, KNN K-mean clustring,
CNN,RNN etc. we need to perform scalling/Normalization.

But Alogrithm like Decision Trees, Random Forest ,XGBoost Ensemble Technique
(Bagging  and Boosting ) Scalling does not required because it creates tree based on 
values(i.e.. high or low) it does not effect the prediction.


For most of CNN or deep learning and Artificial Neural Network we use MinMaxScaler()
example : Consider image which have values from 0 to 255 so, we scale down to 0 to 1.